@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root{
  --prim-color: white;
  --dark-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: black;
  background-size: cover;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  line-height: 1.6;
}

ul{
  padding: 5px 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  padding: 5px 10px;
}

a {
  padding: 5px;
  text-decoration: none;
  color: white;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img{
  width: 100%;
}

.navbar{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

/* Main Section */

/* Index.html */

.main-wrapper{
  width: 100%;
  height: 80vh;
}

.image{
  /* background-color: rgb(198, 178, 216); */
  padding: 20px 20px;
  position: sticky;
  justify-content: center;
  align-items: center;
  /* top: 0px; */
  z-index: -1;
}


.image img{
  height: 600px;
  object-position: center;
  object-fit: cover;
  border-radius: 20px; 
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0);
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 20px;
}

.footer a{
  padding: 10px;
  color: #fff;
}

/* Mobile */
@media(max-width: 768px){
  .navbar{
      height: auto;
      overflow: hidden;
  }

  .navbar .flex{
      flex-direction: column;
  }

  .navbar ul{
      padding: 10px;
  }

  /* Experiment */

  .main-wrapper{
    display: flex;
    flex-direction: column;
    height: inherit;
  }
  .navbar .logo{
    font-size: 1.5rem;
  }  

  .navbar .container{
    padding: 10px 20px;
  }

  .m-container{
    height: fit-content;
  }

  .other-cards {
    flex-direction: column;
  }

  

}
