@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root{
  --prim-color: white;
  --dark-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(40, 40, 40);
  font-family: 'Courier Prime', monospace;
  color: black;
  line-height: 1.6;
}

.background{
    background-color: rgb(35, 35, 35);
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

