@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
  --prim-color: white;
  --dark-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: black;
  line-height: 1.6;
}

ul{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img{
  width: 100%;
}

/* NAVBAR - Section 1 */

.navbar {
  color: black;
  position: relative;
  }

.navbar .container{
  background-color: white;
  padding: 10px 50px;
} 

.navbar .logo{
  font-size: 2.5rem;
  font-weight: bold;
  /* font-family: 'Pacifico', cursive; */
}

.navbar .flex{
  height: auto;
  justify-content: space-between;
}

.navbar a{
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar ul{
  display: flex;
}
.logo{
  padding: 5px;
  border-radius: 10x;
  transition: 0.2s ease-in;
}

.logo:hover{
  background-color: rgba(95, 7, 95, 0.692);
  color: whitesmoke;
  border-radius: 10px;
}


.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  color: white;
  border-radius: 10%;
}

.dropcontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropcontent a:hover {background-color: #ddd;}

.dropdown:hover .dropcontent {display: block;}

/* Main Section */

.main .flex{
  align-items: center;
  justify-content: center;
}

.main .container{
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 800px;
  width: auto;
}

.main .container .grid{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.main .card{
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  position: relative;
  color: black;
}

.first-card .card{
  display: flex;
  height: 400px;
  width: 700px;
  background-image: url(https://chi01pap001files.storage.live.com/y4mtJTcmNvycuMf1nKEcaisFRBxKfCwiFEf1V7JidRl1GY_L70383MWqKbqXs1Cf4u0PibtxZyGsm9J4e_ifhQED2TJD9h-jHBffpCZ9VXCSAmtI_q1sfVG26NBj2uH1T3YQlTWc0YZ2Po6rt8-GGY90MS-uoMhujIpwSIta3s3NRGWE6U-8FjwJj6lfd6pzkbgzi51vYLgrTw5TxTCxKP7yw/IMG_2132%201.JPG?psid=1&width=587&height=392); 
  transition: 0.5s ease-in-out;
}

.first-card .card .flex{
  display: flex;
  justify-content: space-evenly;
  float: left;
}

.first-card p{
  display: none;
}

.first-card .card:hover{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://chi01pap001files.storage.live.com/y4mtJTcmNvycuMf1nKEcaisFRBxKfCwiFEf1V7JidRl1GY_L70383MWqKbqXs1Cf4u0PibtxZyGsm9J4e_ifhQED2TJD9h-jHBffpCZ9VXCSAmtI_q1sfVG26NBj2uH1T3YQlTWc0YZ2Po6rt8-GGY90MS-uoMhujIpwSIta3s3NRGWE6U-8FjwJj6lfd6pzkbgzi51vYLgrTw5TxTCxKP7yw/IMG_2132%201.JPG?psid=1&width=587&height=392);
} 

.first-card .card:hover p{
  display: grid;
  color: white;
  font-size: 16px;
  font-style: italic;
  padding: 30px;
}

.other-cards .card{
  background-color: white;
  height: 100px;
  width: 300px;
  color: black;
  border: solid 1px black;
  transition: 0.3s ease-in;
}

.other-cards a{
  padding: none; 
  margin: none;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.other-cards .card:hover{
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

.other-cards .card:hover a{
  color: white;
}


/* info */

.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education{
  background-color: rgb(41, 39, 39);
  color: #fff;
  padding: 20px;
}
.education h1{
  padding-top: 15px;
  font-size: 32px;
  font-weight: bolder;
}

.education h2{
  font-weight: bold;
}

.education h3,h5{
  font-weight: lighter;
}

.contact{
  background-color:rgb(41, 39, 39);
  color: white;
  padding: 20px;
}

.contact h1{
  padding-top: 15px;
  font-size: 32px;
  font-weight: bolder;
}
/* Footer */

.footer .container{
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px;
}

.footer a{
  padding: 10px;
  color: #fff;
}

/* Mobile */
@media(max-width: 768px){
  .navbar{
      height: 110px;
  }

  .main .flex{
    flex-direction: column;
  }

  .navbar .flex{
      flex-direction: column;
  }

  .first-card .card{
    display: flex;
    height: 230px;
    width: 400px;
  }

  .other-cards .flex{
    flex-direction: column;
  }

  .navbar ul{
      padding: 10px;
  }

  .project-cards{
    display: grid;
    min-height: 200px;
    height: auto;
    width: auto;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 15px;
  }
}