.container{
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
}

.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    transition: 0.5s;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.grid-3{
    grid-template-columns: 1fr 1fr 1fr;
}

/* background Colors */

.bg-prim{
    background-color: var(--prim-color);
}

.bg-dark{
    background-color: black;
}