@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.75; }
}
.flicker {
  animation: flicker 0.2s infinite;
}

/* Define the shake-rotate animation */
.shake-rotate {
  display: flex; /* Ensures the icon can transform */
}

.shake-rotate:hover {
  animation: shakeRotate 0.3s infinite;
}

@keyframes shakeRotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}